.face-recognition-container {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-y: auto;
  width: calc(100% - 250px);
  height: 100vh;
  background-image: radial-gradient(
    circle,
    rgb(20, 26, 53) 0%,
    rgb(18, 17, 26) 50%,
    rgb(20, 18, 26) 100%
  );
  flex: 1;
  border-radius: 20px;
}

.controls {
  margin-bottom: 20px;
}

.start-button,
.stop-button {
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.start-button {
  background-color: #077e3f;
  color: white;
}

.start-button:hover {
  background-color: #01a855;
}

.stop-button {
  margin-left: 10px;
  background-color: #d96b6b;
  color: white;
}

.stop-button:hover {
  background-color: #ca1414;
}

.video-container {
  width: 80%;
  height: 100%;
  position: relative;
  border: 2px solid rgb(97, 84, 84);
}

video {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas {
  position: absolute;
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading-text {
  color: white;
  font-size: 20px;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #38a169;
  color: white;
  border-radius: 5px;
}
