.media-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #090648;
  overflow-y: auto;
  padding: 50px;
  border-radius: 5px;
  border: #518998 solid 4px;
}
