.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 25px;
}

.pagination-container button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #15a046;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.pagination-container button:disabled {
  background-color: #9a91b4;
  cursor: not-allowed;
}

.pagination-container span {
  font-size: 25px;
}
