.spotify-player {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: #181818;
  padding: 20px 40px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: 20px;
}

.spotify-player-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.spotify-player-info img {
  width: 80px;
  height: 70px;
  border-radius: 5px;
  margin: 15px;
}

.player-track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #1db954 solid 3px;
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  overflow: hidden;
  position: relative;
}

.player-track-name {
  font-weight: bold;
  font-size: 20px;
  color: white;
  width: 100pxs;
}

.player-track-artist {
  font-style: italic;
  font-size: 16px;
  color: #b3b3b3;
  width: 100px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.spotify-player-controls {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
  bottom: 20px;
  left: 20%;
}

.spotify-player-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 15px;
}

.spotify-player-button:hover .spotify-player-icon {
  color: #1db954;
}

.spotify-player-icon {
  width: 32px;
  height: 32px;
}

.spotify-player-progress {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: -24px;
  right: 200px;
  width: 60%;
}

.progress-time {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 100%;
  margin: 10px;
  background: #b3b3b3;
  border-radius: 2px;
}

.spotify-player-volume {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.volume-bar {
  width: 150px;
  margin-left: 10px;
  background: #b3b3b3;
}

.playlist-dropdown-container {
  position: relative;
}

.playlist-dropdown {
  position: absolute;
  bottom: 70px;
  background: #282828;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.playlist-dropdown-header {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.playlist-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: white;
  transition: background 0.2s;
}

.playlist-item:hover {
  background: #3a3a3a;
}

.playlist-item-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 10px;
}

.playlist-item-info {
  display: flex;
  flex-direction: column;
}

.playlist-item-name {
  font-weight: bold;
}

.playlist-item-tracks {
  font-size: 12px;
  color: #b3b3b3;
}
.volume-bar {
  width: 150px;
  margin-left: 10px;
  background: #b3b3b3;
}

.playlist-dropdown-container {
  position: relative;
}

.playlist-dropdown {
  position: absolute;
  bottom: 70px;
  background: #282828;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.playlist-dropdown-header {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.playlist-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.playlist-item:hover {
  background: #3a3a3a;
}

.playlist-item-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 10px;
}

.playlist-item-info {
  display: flex;
  flex-direction: column;
}

.playlist-item-name {
  font-weight: bold;
}

.playlist-item-tracks {
  font-size: 12px;
  color: #b3b3b3;
}

.new-playlist {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.new-playlist-input {
  flex: 1;
  padding: 8px;
  background: #3a3a3a;
  border: none;
  border-radius: 4px;
  color: white;
  margin-right: 10px;
}

.new-playlist-button {
  padding: 8px 12px;
  background: #1db954;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.playlist-checkbox {
  position: absolute;
  left: 270px;
}

.save-playlists-button {
  width: 100%;
  padding: 10px;
  background: #1db954;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
