/* src/components/Media/SpotifyCard.css */

.spotify-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #021029;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 200px;
  margin: 15px;
}

.spotify-card:hover {
  transform: scale(1.07);
  box-shadow: 20px 10px 26px rgba(185, 152, 198, 0.3);
}

.spotify-card-image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.spotify-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #353535;
}

.spotify-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

.spotify-card-play-button {
  background: none;
  border: none;
  color: #1db954;
  cursor: pointer;
  outline: none;
}

.spotify-card-play-icon {
  width: 6s0px;
  height: 60px;
  color: #1db954;
}

.spotify-card-body {
  padding: 20px;
  text-align: center;
}

.spotify-card-title {
  font-size: 18px;
  color: #ffffff;
  margin: 10px 0 5px 0;
  font-weight: bold;
}

.spotify-card-text {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0;
}
