.spotify-card {
  position: relative;
  width: 330px;
  margin: 20px;
  background-color: #282c34;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.spotify-card:hover {
  transform: scale(1.05);
}

.spotify-card-image-wrapper {
  position: relative;
  width: 100%;
  height: 340px;
  margin: 5px 0;
}

.spotify-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.spotify-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(85, 85, 85, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
}

.spotify-card:hover .spotify-card-overlay {
  opacity: 1;
}

.spotify-card-play-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.spotify-card-play-icon {
  position: fixed;
  width: 90px;
  height: 90px;
  left: 120px;
  top: 120px;
  color: rgb(42, 255, 113);
}

.spotify-card-body {
  padding: 15px;
  text-align: center;
}

.spotify-card-title {
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
}

.spotify-card-text {
  margin: 10px 0 0;
  font-size: 1em;
  color: #b3b3b3;
}

/* Different styles for each type of card */
.spotify-card-artist {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 10, 22),
    rgb(0, 14, 60),
    rgb(0, 10, 22)
  );
}

.spotify-card-track {
  background-color: #1e1e1e;
}

.spotify-card-playlist {
  background-color: #3a3a3a;
}

.spotify-card-audiobook {
  background-color: #4b4b4b;
}

/* Different image styles for each type of card */
.spotify-card-image-wrapper-artist {
  border-radius: 80%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 15px auto;
}

.spotify-card-image-artist {
  border-radius: 50%;
}

.spotify-card-image-wrapper-track,
.spotify-card-image-wrapper-playlist,
.spotify-card-image-wrapper-audiobook {
  border-radius: 15px;
}

.spotify-card-image-track,
.spotify-card-image-playlist,
.spotify-card-image-audiobook {
  border-radius: 15px;
}
