.d-flex {
  display: flex;
}

.recommendation-container {
  padding: 20px;
  width: calc(100% - 250px);
  overflow-y: auto;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.5s ease;
  flex: 1;
  border-radius: 20px;
  background-color: #22272d;
}

.get-location-button {
  margin-bottom: 20px;
  padding: 12px 24px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease, transform 0.7s ease;
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif, cursive;
}

.get-location-button:hover {
  background-color: #1ed760;
  transform: scale(1.07);
}

.get-location-button:active {
  background-color: #1aa34a;
  transform: scale(1);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info-container {
  flex: 1;
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
}

.map-container {
  flex: 2;
  border: 3px solid #6a1b9a;
  height: 80vh;
  border-radius: 40px;
  overflow: hidden;
}

.weather-info,
.address-info {
  margin-bottom: 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  text-align: center;
  font-family: "Roboto", sans-serif;
}

.weather-info h3,
.address-info h3 {
  font-weight: bolder;
}

.weather-info p,
.address-info p {
  font-weight: 400;
}

.weather-info img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 10px auto;
}
