@import "../Login/Login.module.css";

.form-container {
  position: absolute;
  width: 500px; /* Increased width */
  height: 800px;
  padding: 40px; /* Increased padding */
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: box-shadow 0.5s; /* Transition for box-shadow */
}
